.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

body {
  padding: 7px;
}

#side {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background: #eee;
}

#images {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
}

#images img {
  display: inline-block;
  width: 200px;
}

div.panel-title {
  padding: 5px 10px;
  border-bottom: #bbb 1px solid;
}

#cards {
  padding: 10px;
  display: block;
}

div.panel {
  font-size: 14px;
  font-family: Tahoma, sans-serif;
  background: #ddd;
  border: #bbb 1px solid;
  border-radius: 4px;
}

div.card {
  font-size: 16px;
  background: #dbb6a2;
  border-radius: 4px;
  padding: 5px 10px;
  border-bottom: 2px solid grey;
  margin-bottom: 2px;
}

div.card img {
  float: right;
  margin-top: 2px;
  margin-left: 1px;
  border: 0;
  display: inline-block;
}

div.active {
  background: #ddd;
}

#side form {
  padding: 10px;
}

#side img {
  height: 300px;
  margin: 0 auto;
  display: block;
}

#side input {
  display: block;
  width: 100%;
  padding: 5px 0;
  border: 0;
  line-height: 24px;
  font-size: 20px;
}
